/* Simple reset and sensible defaults */
/* Based on common resets (minimal) */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
}

/* make box-sizing predictable */
html{box-sizing:border-box;}
*,*::before,*::after{box-sizing:inherit;}

body{
  line-height:1.4;
  color:#222;
  background:#fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

ol,ul{list-style:none;}
a{text-decoration:none; color:inherit;}
img{max-width:100%; height:auto; display:block;}
button,input,select,textarea{font:inherit;}
